{% include "master/index.html" %}

<div class="container mt-5">

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h2>Product's Information</h2>
            <div class="table-responsive">
                <table class="table table-stripe responsive-table__container">
                    <thead class="table-secondary">
                        <tr class="small">
                            <th>No.</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Sub Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>{{ current_product.title.split()[:3] | join(' ') }}</td>
                            <td>1</td>
                            <td>{{ current_product.price }} $</td>
                            <td>{{ current_product.price }} $</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <h2>Customer's Information</h2>
            <form method="post" action="/submit_order?id={{ current_product.id }}" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="fullname" class="form-label">FullName</label>
                    <input type="text" class="form-control" name="fullname" id="fullname" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="number" class="form-control" name="phone" id="phone" required>

                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                </div>
                <button type="submit" style="float: right;" class="btn btn-primary">Submit Order</button>
            </form>
        </div>
    </div>

</div>